body{
    color:rgb(220, 15, 4);
    background:rgb(250, 148, 5);
}

.chamada{
    background:rgb(239, 227, 14);
    padding-botton:80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}