body{
    color:rgba(244, 244, 246, 0.947);
    background:rgb(229, 6, 144);
    font-family:"Creepster", system-ui;
    font-weight:400;
    font-style: normal;
}

.chamada{
    background:rgb(113, 5, 108);
    padding-botton:80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}