body{
    color:rgba(244, 244, 246, 0.864);
    background:rgb(229, 6, 144);
    font-family:"Pacifico", cursive;
}

.chamada{
    background:rgb(113, 5, 108);
    padding-botton:80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}