body{
    color:rgb(64, 4, 136);
    background:rgb(229, 13, 132);
}

.chamada{
    background:rgb(141, 11, 158);
    padding-botton:80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}