body{
    color:rgba(12, 7, 172, 0.864);
    background:rgb(229, 6, 144);
}

.chamada{
    background:rgb(113, 5, 108);
    padding-botton:80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}