body{
    color:rgba(159, 9, 9, 0.864);
    background:rgb(239, 63, 4);
}

.chamada{
    background:rgb(239, 227, 14);
    padding-botton:80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}